@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --color1: #F1F3F9;
  --color2: #FFC857;
  --color3: #757DA9;
  --color4: #3F4464;
  --color5: #1F2232;
  --color-blanco: #FFFFFF;
  --color-negro: #000000;
  --color-gris-claro: #CCCCCC;
  --color-gris-oscuro: #333333;
}


body {
  font-family: 'Pixelify Sans', sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 200;
  letter-spacing: -6px;
}


h2 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: lowercase;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}



.padded {
  padding-top: 90px;
  padding-bottom: 90px;
}


@media (min-width: 1680px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1600px;
  }
}


.list-group-item.active {
  background-color: var(--color2);
  border-color: var(--color-negro);
}


.precio-anterior {
  color: var(--color-gris-oscuro);
  text-decoration: line-through;
  margin-left: 5px;

}

.start-90 {
  left: 90% !important;
}